* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url("./conc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.login {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 20vh;
  width: 30%;
  height: 60vh;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.489);
  padding-block: 25px;
}
.login form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  width: 50%;
  margin-left: 25%;
  position: relative;
}
.user {
  position: absolute;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  margin-left: -40px;
  margin-top: -67%;
}
.password {
  position: absolute;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  margin-left: -40px;
  margin-top: -5%;
}
button {
  margin-left: 40%;
  padding-block: 10px;
  padding-inline: 15px;
  border-radius: 5px;
  outline: none;
  transition: ease-out 0.9s;
  box-shadow: inset 0 0 0 0 #0bacb1;
  cursor: pointer;
}
button:hover {
  box-shadow: inset 100px 0 0 0 #0bacb1;
  color: white;
}
input {
  padding-block: 5px;
  padding-inline: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
}
form .remember {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 70%;
}
form label {
  margin-left: 20%;
  margin-top: 25%;
  color: white;
}
.login p {
  margin-left: 20%;
  color: white;
}
.login a {
  color: #0bacb1;
  text-decoration: none;
}
